h1, h2,h4{
    font-family: 'Quintessential', cursive;
    font-size: 3rem;
    line-height: 1.5;
    color:white;
    text-align: center;
  }
  #audio{
    margin-left: 40%;
    margin-right: auto;
  }